@page
@model CommunityProject.Pages.bowlathon.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BowlathonInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BowlathonInfo.CustID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BowlathonInfo.CustID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BowlathonInfo.TeamID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BowlathonInfo.TeamID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BowlathonInfo.Payment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BowlathonInfo.Payment)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="BowlathonInfo.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
