@page
@model CommunityProject.Pages.bowlathon.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BowlathonInfo[0].CustID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BowlathonInfo[0].TeamID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BowlathonInfo[0].Payment)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BowlathonInfo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
