@page
@model CommunityProject.Pages.Walk.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<head>
    <style>
        .boxed {
          border: 2px solid black;
          border-radius: 8px;
          text-align: left;
          padding: 15px;
          background-color: rgb(252, 252, 252);
          display: block;
        }

        .row {
          padding: 10px;
        }
    </style>
    <title>Full Registration Details</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>


<h2>Full Registration Info</h2>
<body>
    <section class="container">
        <div class="row">
        <div class="boxed">
            <div>
                <h4>Walkathon</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.WalkathonInfo.Payment)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.WalkathonInfo.Payment)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.WalkathonInfo.FirstName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.WalkathonInfo.FirstName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.WalkathonInfo.LastName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.WalkathonInfo.LastName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.WalkathonInfo.DOB)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.WalkathonInfo.DOB)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.WalkathonInfo.Email)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.WalkathonInfo.Email)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.WalkathonInfo.Phone)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.WalkathonInfo.Phone)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.WalkathonInfo.Address)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.WalkathonInfo.Address)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.WalkathonInfo.City)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.WalkathonInfo.City)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.WalkathonInfo.State)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.WalkathonInfo.State)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.WalkathonInfo.ZIP)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.WalkathonInfo.ZIP)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.WalkathonInfo.ShirtSize)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.WalkathonInfo.ShirtSize)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.WalkathonInfo.PicConsent)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.WalkathonInfo.PicConsent)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-page="./Edit" asp-route-id="@Model.WalkathonInfo.ID">Edit</a> |
                <a asp-page="./Index">Back to List</a>
            </div>
        </div>
        </div>
    </section>
</body>