@page
@model CommunityProject.Pages.Fish.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>FishingDerbyInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FishingDerbyInfo.Consent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FishingDerbyInfo.Consent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FishingDerbyInfo.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FishingDerbyInfo.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FishingDerbyInfo.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FishingDerbyInfo.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FishingDerbyInfo.DOB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FishingDerbyInfo.DOB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FishingDerbyInfo.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FishingDerbyInfo.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FishingDerbyInfo.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FishingDerbyInfo.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FishingDerbyInfo.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FishingDerbyInfo.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FishingDerbyInfo.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FishingDerbyInfo.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FishingDerbyInfo.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FishingDerbyInfo.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FishingDerbyInfo.ZIP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FishingDerbyInfo.ZIP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FishingDerbyInfo.ShirtSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FishingDerbyInfo.ShirtSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FishingDerbyInfo.PicConsent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FishingDerbyInfo.PicConsent)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.FishingDerbyInfo.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
